/node_modules
/public/hot
/public/storage
/public/thumbs
/public/files
/storage/*.key
/vendor
.idea
.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/migrations/2020_05_29_092116_add_column_to_articles_table.php
/composer.lock
/storage/app/public
/Testing
/public_html/sitemap.xml
/storage/views