/***** Video headlines *****/
.box_video {background:#272727 url(../img/header_bg.gif) top repeat-x; padding:5px; width:590px; overflow:hidden;}

h3.video_title {color:#e0e0e0; padding:5px; border-bottom:none; background:#181818;}

.headline_video_player {float:right;}

.headline_video_playlist {float:right; width:220px;}

.headline_video_item {
	position:relative;
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #484848;
	border-left:1px solid #484848;
	padding:4px 40px 4px 4px;
}

.headline_video_item .image {float:left; margin:0 10px 2px 0;}

.headline_video_item a {color:#e0e0e0; font-weight:normal;}

.headline_video_item a:hover {color:#fff;}

.play_video {position:absolute; top:0; right:0;}

/**** Video playlist (category) ****/
.player_container {margin-bottom:-3px;}

.video_item {
	padding:5px; 
	background:#fff url(../img/gradient_light.gif) bottom repeat-x;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}

.item_holder {width:100%; overflow:hidden; line-height:35px;}

.selected {background:#fff url(../img/gradient_light_top.gif) bottom repeat-x;}

.video_title {font-size:14px; font-weight:bold;}

.video_image {float:right; margin-left:5px;}

.video_button {float:right; margin-left:5px; padding-top:3px;}

h2.video_headline {background:#151515; color:#fff; padding:5px; margin-bottom:10px; border:1px solid #353535; border-top:none;}

h2.video_headline a {color:#fff;}

.video_summary {font-size:11px;}

/*** New styles ***/
.video_tabs {background:#ebebeb; padding:20px; margin-top:10px; border-top:1px solid #dadada; border-bottom:1px solid #dadada;}

#tabs_videos {float:right; width:150px; margin-left:10px;}

#tabs_videos li a {display:block; padding:5px; border-bottom:1px solid #ddd;}

#tabs_videos li a.active {background:#fff;}

.video_lists {float:right; width:760px;}

.video_short {float:right; width:120px; height:110px; background:#fff; margin:0 5px 10px 5px; padding:10px;}

.video_short h4 {font-size:11px;}

.video_short div.image_play {text-align:center; height:75px; overflow:hidden; margin-bottom:5px; background:#000; line-height:97px;}